<div class="row margin-top">
  <div class="col-xs-9 col-sm-5 col-md-4">
    <input type="search" class="form-control" ng-model="searchQuery" placeholder="Search users" ng-change="searchUsers()" autofocus> 
  </div>
  <div class="col-xs-3 col-sm-5 col-md-8">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="filterdropdown" data-toggle="dropdown">
        <span class="glyphicon glyphicon-filter"></span>
        Filter 
        <span class="badge" ng-show="(users.applications | filter:{isSelected: true}).length > 0">
          {{(applications.list | filter:{isSelected: true}).length}}
        </span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="filterdropdown">
        <li role="presentation" class="dropdown-header margin-top">Application</li>
        <li role="presentation" ng-repeat="app in applications.list">
          <a role="menuitem" tabindex="-1" href ng-click="app.isSelected=!app.isSelected">
            <span class="glyphicon" ng-class="{'glyphicon-check': app.isSelected, 'glyphicon-unchecked': !app.isSelected}"></span>
            {{app.applicationName}}
          </a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href ng-click="clearAllApps()">Clear all</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row margin-top">

  <div class="col-sm-12">

    <button class="btn btn-default btn-sm" ng-click="newUserDetail()">
        <span class="glyphicon glyphicon-plus"></span>
        Add user
    </button>

    <div class="btn-group" tooltip="{{users.requiredMessage}}">
      <button class="btn btn-default btn-sm" ng-disabled="!users.selected" ng-click="addRoleForUsers()">
        <span class="glyphicon glyphicon-plus"></span>
        Add role
      </button>
      <button class="btn btn-default btn-sm" ng-disabled="!users.selected" ng-if="false">
        <span class="glyphicon glyphicon-minus"></span>
        Remove role
      </button>
      <button class="btn btn-default btn-sm" ng-disabled="!users.selected" ng-click="resetPasswordForUsers()">
        <span class="glyphicon glyphicon-lock"></span>
        Reset password
      </button>
    </div>

    <div class="table-responsive margin-top">

      <table class="table">
        <thead>
          <tr>
            <th><label><input tri-state-checkbox elements="users.list" elements-selected="users.selected"></label></th>
            <th ng-click="changeOrder('username')">Username</th>
            <th ng-click="changeOrder('firstName')">Firstname</th>
            <th ng-click="changeOrder('lastName')">Lastname</th>
            <th ng-click="changeOrder('cellPhone')">Phone</th>
            <th ng-click="changeOrder('email')">E-mail</th>
            <th ng-click="changeOrder('personRef')">Person Ref.</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users.list | orderBy:orderByColumn:orderReverse" class="itemrow">
            <td><label><input type="checkbox" ng-model="user.isSelected"></label></td>
            <td ng-click="activateUserDetail(user.uid)">{{user.username}}</td>
            <td ng-click="activateUserDetail(user.uid)">{{user.firstName}}</td>
            <td ng-click="activateUserDetail(user.uid)">{{user.lastName}}</td>
            <td ng-click="activateUserDetail(user.uid)">{{user.cellPhone}}</td>
            <td ng-click="activateUserDetail(user.uid)">{{user.email}}</td>
            <td ng-click="activateUserDetail(user.uid)">{{user.personRef}}</td>
          </tr>
          <tr ng-if="!users.list.length && searchQuery">
            <td colspan="4">No results for search "{{searchQuery}}".</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>


<!-- Userdetail Modal -->
<div class="modal fade" id="userdetail" tabindex="-1" role="dialog" aria-labelledby="userdetaillabel" aria-hidden="true" ng-controller="UserdetailCtrl">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="userdetaillabel">
            {{users.user.username || 'New user'}}
        </h4>
      </div>

      <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation, as we will validate using Angular -->

            <div class="modal-body">

            <div class="form-horizontal">
              <div class="form-group" ng-if="users.user.isNew">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10"><input type="text" class="form-control" id="username" ng-model="users.user.username"></div>
              </div>
              <div class="form-group" ng-repeat="property in userProperties">
                <label for="{{property.value}}" class="col-sm-2 control-label">{{dict[conf.lang][property.value]}}</label>
                <div class="col-sm-10"><input type="{{property.type}}" class="form-control" id="{{property.value}}" ng-model="users.user[property.value]" ng-minlength="{{property.minLength}}" ng-maxlength="{{property.maxLength}}" ng-required="{{property.required}}"></div>
              </div>
            </div>

            <div ng-if="!users.user.isNew">
                <button type="button" class="btn btn-default btn-sm" ng-click="addRoleForCurrentUser()"><span class="glyphicon glyphicon-plus"></span> Add role</button>
                <div class="btn-group" tooltip="{{rolesRequiredMessage}}">
                  <button type="button" class="btn btn-default btn-sm" ng-click="deleteRolesForUser()" ng-disabled="!roles.selected"><span class="glyphicon glyphicon-trash"></span> Delete selected roles</button>
                </div>

                <div class="table-responsive margin-top">
                  <table edit-table elements="users.userRoles" visible-fields="visibleRoleProperties" elements-selected="roles.selected" edit-action="saveRoleForCurrentUser(role)"></table>
                </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
            <button type="button" class="btn btn-xs btn-danger pull-left" data-dismiss="modal" ng-click="delete()" ng-if="!users.user.isNew"><span class="glyphicon glyphicon-trash"></span> Delete {{users.user.username}}</button>
          </div>

      </form>

    </div>
  </div>
</div>

<!-- Role Modal -->
<div class="modal fade" id="addrole" tabindex="-1" role="dialog" aria-labelledby="addrolelabel" aria-hidden="true" ng-controller="RoleCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="addrolelabel">Add role</h4>
      </div>
      <div class="modal-body">

        <div ng-if="addRoleForMultiple">
            Selected users:
            <span ng-repeat="user in users.list | filter:{isSelected: true}" class="label label-default" style="margin-right: 0.5em">
              {{user.firstName}} {{user.lastName}}
            </span>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label for="application" class="col-sm-2 control-label">{{dict[conf.lang].application}}</label>
                <div class="col-sm-10">
                    <select class="form-control" id="application" ng-model="role.applicationId" ng-options="app.applicationId as app.applicationName for app in applications"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="organization" class="col-sm-2 control-label">{{dict[conf.lang].organization}}</label>
                <div class="col-sm-10">
                    <select class="form-control" id="organization" ng-model="role.applicationName" ng-disabled="currentApplication.applicationId" ng-options="org in currentApplication.organizations"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="rolename" class="col-sm-2 control-label">{{dict[conf.lang].applicationRoleName}}</label>
                <div class="col-sm-10"><input type="text" class="form-control" id="rolename" ng-model="role.applicationRoleName" ng-minlength="2" ng-maxlength="128"></div>
            </div>
            <div class="form-group">
                <label for="rolevalue" class="col-sm-2 control-label">{{dict[conf.lang].applicationRoleValue}}</label>
                <div class="col-sm-10"><input type="text" class="form-control" id="rolevalue" ng-model="role.applicationRoleValue" ng-minlength="0" ng-maxlength="128"></div>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addRole()">Add role</button>
      </div>
    </div>
  </div>
</div>